@keyframes change-color{
    0%{
        background: $background-principal;
    }
    50%{
        background: green;
    }
    100%{
        background: red;
    }
    }


.index-h1{
    color: greenyellow;
    animation-name: change-color;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.index-h2{
    color:white;
}